@model LojaVirtual.Models.Produto
<h1>Visualizar produtos</h1>
<br />
<b>Id: </b>@Model.Id <br />
<b>Nome: </b>@Model.Nome <br />
<b>Descrição: </b>@Model.Descricao<br />
<b>Preço: </b>@Model.Valor.ToString("C")<br />
<br />
Todos os direitos rezervados &copy; @DateTime.Now.Year

