@model X.PagedList.IPagedList<LojaVirtual.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}
</br>
<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Criar nova categoria</a>
</p>
<table class="table">



    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slug)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaPai.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>

</table>

@Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina }))
